/* General Styling */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Slabo 27px', serif;
    text-align: center;
}

/* Map */

#Mymap {
    height: 800px;
    max-height: 100%;
    margin: 0;
}

/* Input */

.input {
    margin-left: 50px;
}

/* List */

li {
    list-style: none;
}

li:hover {
    cursor: pointer;
}