/* General Styling */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Slabo 27px', serif;
}


/* Skeleton */

.columns {
    margin-left: 2%;
}


/* Map */

#Mymap {
    height: 800px;
    max-height: 100%;
    margin: 0;
}

/* Filter */
#submit {
    padding: 0;
    width: 80px;
}

/* Marker content */

.marker-content {
	width: 200px;
}